.InformationPaper {
  display: flex;
  max-width: 450px;

  margin: 15px 15px 15px 15px;

  padding: 3%;
}

.InformationText {
  /* padding-bottom: 10px; */
  margin-left: 5%;
  /* display: block; */
}

.InflationStats {
  max-width: 450px;

  margin: 15px 15px 15px 15px;

  padding: 3%;
}
